
install:
  - git clone https://github.com/colibri-software/locomotive_engine.git
  - cd locomotive_engine
  - git checkout plugins
  - bundle install
  - cd ..

rvm:
  - 1.9.3

services:
  - mongodb
