<!DOCTYPE html>
<html>
  <head>
    <title>IdentityEngine</title>
    <%= stylesheet_link_tag    "identity-engine/application", :media => "all" %>
    <%= javascript_include_tag "identity-engine/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>

  </body>
</html>

